.a:hover{
    background-color: indianred;
}
.dec{
    border-radius: 45%;
}
                               
.para{
    text-decoration: line-through;
}
.ph{
    line-height: 2.5rem;
}
.card{
    border: none;
}
.foot{
    border-bottom: 1px solid lightskyblue ;
    font-size: 18px
;
}
.card-text{
    
    cursor: pointer;
    color: black;
    font-weight: 500;
    line-height: 1.9em;
}
.head-icon{
    font-size: 32px !important;
    margin-right: 10px;
    cursor: pointer;
    color:rgb(0, 64, 133);

    
}
.head-icon:hover{
    box-shadow: 0 0 15px 10px blue;
}
.fa-heart-o,.fa-cart-plus{
    font-size: 22px !important;
    margin-right: 10px;
    cursor: pointer;
}
.fa-cart-plus{
    color: black !important;
}
@media (min-width: 576px) { 
    .navbar-text{
        display: inline-block !important;
    }

}
@media (max-width: 576px) { 
    .about-para{
        justify-content: center !important;
    }
}




